# -----------------------------
# Arquivos de ambiente Python
# -----------------------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv / venv
.venv/
venv/
ENV/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/
*.ipynb_convert/
jupyter_cache/

# -----------------------------
# Arquivos do sistema
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Configs sensíveis
# -----------------------------
*.env
.envrc

# -----------------------------
# MLflow
# -----------------------------
# Diretório padrão de tracking local
mlruns/

# Logs e metadados do MLflow
mlartifacts/
mlflow.db
mlflow.log

# Arquivos temporários de tracking
*.tmp
*.bak

# -----------------------------
# Outros diretórios de cache / experimentos
# -----------------------------
.cache/
logs/
outputs/
artifacts